# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Else
Read_pulse.ipynb
cnt1.ipynb
0.ipynb
01.ipynb
*.py
*.csv
test_cv2.ipynb
TestCV2_2rd.ipynb
AutoML.ipynb
0.cpp
Analysed.ipynb